.hero {
  max-width: 980px;
  min-height: 400px;
  margin: 50px auto 50px auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.6)), to(rgba(238, 67, 103, 0.6))), url(../images/2.jpeg);
  background-image: linear-gradient(to bottom, rgba(238, 67, 103, 0.6), rgba(238, 67, 103, 0.6)), url(../images/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero .hero-title {
  position: absolute;
  bottom: 0;
}
.hero .hero-title .title {
  font-size: 300px;
  color: #EE4367;
  line-height: 0;
}
.hero .hero-title .text {
  font-size: 140px;
  color: #EE4367;
  line-height: 0;
}

@media (max-width: 980px) {
  .hero .hero-title .title {
    font-size: 200px;
  }
  .hero .hero-title .text {
    font-size: 100px;
  }
}
@media (max-width: 680px) {
  .hero .hero-title .title {
    font-size: 100px;
  }
  .hero .hero-title .text {
    font-size: 50px;
  }
}