footer {
  width: 100%;
  height: 455px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .centered-content {
  text-align: center;
}
footer .centered-content .logo {
  margin-top: 42px;
  margin-left: 40%;
  margin-bottom: 35px;
  position: relative;
  width: 109px;
  height: 38px;
  border: solid 2px white;
}
footer .centered-content .logo span {
  position: absolute;
  bottom: -12px;
  left: -2px;
  color: white;
  height: 25px;
}
footer .centered-content .eventinfo {
  color: white;
}
footer .centered-content .eventinfo p {
  margin-bottom: 4px;
}
footer .centered-content .signup {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}
footer .centered-content .signup input {
  height: 100%;
  width: 529px;
  background-color: #f56b88;
  border: none;
  color: white;
  opacity: 50%;
  font-size: 16px;
  padding-left: 15px;
}
footer .centered-content .signup .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 167px;
  background-color: white;
  color: #ee4367;
}
footer .centered-content .socialbuttons {
  margin-top: 30px;
}
footer .centered-content .socialbuttons a {
  border-radius: 10%;
  width: 31.2px;
  height: 31.2px;
  background-color: white;
  color: #ee4367;
  margin-right: 30.5px;
}
footer .centered-content .copyright {
  color: white;
  opacity: 50%;
  margin-top: 45px;
}

@media (max-width: 840px) {
  footer .centered-content .signup {
    margin: 20px;
  }
  footer .centered-content .signup input {
    width: 300px;
    font-size: 12px;
  }
  footer .centered-content .signup .button {
    width: auto;
  }
}