.history{
    max-width: 980px;
    min-height: 240px;
    margin: -25px auto 0 auto;
    


 .history-title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px black;
    padding-right: 30px;
    padding-bottom: 10px;
    
}
 p{
    margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
    height: 96px;
    display: flex;
}
}
@media (max-width: 900px){
    .history{
        padding-left: 10px;
        padding-right: 10px;
        min-height: 280px;
        
            .p{
                
                flex-wrap: wrap;
            }
        
    }
}